img {
    height: 200px;
}

img:not(.disabled):hover {
    border: 2px solid #564322;
}

.disabled {
    filter: grayscale(1);
}

#title {

    color: chocolate;
    font-size: 32px;
    text-align: center;
    background-color: blanchedalmond
}

#total-selected {

    text-align: left;
}